BODY {
	overflow-x: hidden;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    color: #fefefe;
	font-family: Seshat;    
}

A {
    color:#fefefe;
}

A, .accent {
    font-weight: bold;
}

#body {
	text-align:center;
	margin:20px 0;
}

@keyframes stripscroll {
    from { background-position:0 0; }
    to  { background-position:100000% 0; }
}

.strip {
	animation-name: stripscroll;
	animation-duration: 12000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.2;
	position: absolute;
	top:2vh;
	bottom:2vh;
	left:0px;
	right:0;
	background-image: url(../images/strip.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	filter: blur(2px);
}

.panel {
	overflow: hidden;
	position: absolute;
	width:50%;
	top:15vh;
	bottom:20px;
}

.panel .image {
	transition: opacity 0.4s;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.panel .text {
	transition: all 0.4s;
	opacity: 0;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.panel .text .content {
	position: absolute;
	width: 40vw;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.panel .text .title {
	white-space: nowrap;
	font-family: Ferrum;
	font-size: 40px;
	padding-bottom: 10px;
}

.panel .text .description {
	border-top: 3px solid #fefefe;
	margin-top:10px;
	padding-top:10px;
}

.panel:hover .text {
	opacity: 1;
}

.panel:hover .image {
	opacity: 0.05;
}

.panel.left {
	left:0px;
	background-image: linear-gradient(#2d2d2d, #f00);
}

.panel.left .image  {
	background-image: url(../images/menu-learn.svg);
}

.panel.right {
	right:0px;
	background-image: linear-gradient(#f00, #2d2d2d);
}

.panel.right .image  {
	background-image:url(../images/menu-print.svg);
}

.logo {
	position: absolute;
	margin-top:10px;
	left:0;
	right:0;
	height:30vh;
	display: inline-block;
	background-image: url(../images/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 100;
}

.header, #footer {
	background-color: #2d2d2d;
	text-align: center;
	position: absolute;
}

.header {
	left:0;
	right:0;
	top:0;
	z-index: 100;
	height:15vh;
}

#footer {
	z-index: 100;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	left:0;
	right:0;
	bottom: 0;
	height:40px;
	line-height: 40px;
	padding:0 20px 0 20px;
}

@media (max-width: 700px) {

	BODY {
		font-size: 14px;
	}
    
	.header {
		height:25vh;
	}

	.strip {
		bottom:10vh;
		top:10vh;
		filter: blur(1px);
	}
	
	.panel {
		overflow: hidden;
		position: absolute;
		width: 100%;
	}

	.panel .text .content {
		width: 80vw;
	}

	.panel .text .title {
		font-size: 20px;
	}

	.panel .text .description {
		border-top: 2px solid #fefefe;
		margin-top:5px;
		padding-top:5px;
	}
	
	.panel.left {
		top:25vh;
		left:0px;
		height:36vh;
	}	

	.panel.right {
		top:61vh;
		bottom:40px;
	}	

    #footer {
        font-size: 14px;
    }

	.logo {
		height:20vh;
	}
	
}

@media (hover: none) {

	.panel .image {
		opacity: 0.05;
	}

    .panel .text {
		opacity:1;
	}

}